.character-stats-table {
  width: 100%;
  border: none;
  text-align: center;
  thead {
    tr {
      background-color: white;
      color: black;
      th:first-child {
        text-align: left;
      }
    }
  }
  tbody {
    tr {
      td:first-child {
        text-align: right;
      }
      td:not(:first-child) {
        border: 1px solid black;
        input {
          padding-left: 15px;
          width: 100%;
          border: none;
          text-align: center;
        }
      }
    }
  }
}
