.character-stats-table {
  width: 100%;
  border: none;
  text-align: center; }
  .character-stats-table thead tr {
    background-color: white;
    color: black; }
    .character-stats-table thead tr th:first-child {
      text-align: left; }
  .character-stats-table tbody tr td:first-child {
    text-align: right; }
  .character-stats-table tbody tr td:not(:first-child) {
    border: 1px solid black; }
    .character-stats-table tbody tr td:not(:first-child) input {
      padding-left: 15px;
      width: 100%;
      border: none;
      text-align: center; }
