#trappings {
  tbody tr {
    td {
      padding: 5px;
      border: none;
    }
    &.clickable:hover {
      td {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
      }
    }
    &.trappings-row {
      td {
        input[type=text] {
          border: none;
          border-bottom: 1px solid gray;
          outline: none;
          min-width: 0;
          width: 100%;
        }
      }
    }
  }
}