body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

.w-40p {
    width: 40%;
}

.header-font-size {
    font-size: 2vmax;
}

.label-font-size {
    font-size: 1.75vmax;
}

.content-font-size {
    font-size: 2vmax;
}

@media (min-width: 576px) {
    .header-font-size {
        font-size: 2vmax;
    }

    .label-font-size {
        font-size: 1.75vmax;
    }

    .content-font-size {
        font-size: 2vmax;
    }
}

@media (min-width: 768px) {
    .header-font-size {
        font-size: 1.75vmax;
    }

    .label-font-size {
        font-size: 1.25vmax;
    }

    .content-font-size {
        font-size: 1.5vmax;
    }
}

@media (min-width: 992px) {
    .header-font-size {
        font-size: 1.5vmax;
    }

    .label-font-size {
        font-size: 1vmax;
    }

    .content-font-size {
        font-size: 1.25vmax;
    }
}

@media (min-width: 1200px) {
    .header-font-size {
        font-size: 1.25vmax;
    }

    .label-font-size {
        font-size: 1vmax;
    }

    .content-font-size {
        font-size: 1.25vmax;
    }

}