.modeSelectorTile {
    margin: 2px;
    padding: 2px;
}

.modeSelectorTile:hover {
    margin: 1px;
    padding: 3px;
    border-color: green !important;
}

.modeSelectorTile img {
    width: 100%;
}